<div class="card">
    <h2>NEWS</h2>
    <article>
        <b>5/15/2018</b>
        <h3>Three Local Organizations Honored for Taking Big Steps to Improve Air Quality </h3>
        <p>To celebrate local best practices to reduce pollution, three organizations in Greater Philadelphia received 2018
            Air Quality Partnership Excellence Awards. Each year, public and private institutions are honored for their efforts
            to improve air quality. They are:
        </p>
        <p>
            <b>Students Against Violating the Earth (SAVE) at Souderton Area School District, Souderton, Pennsylvania:</b> This
            student-run/funded organization creates impactful recycling and environmental events for the surrounding community.
            Events include recycling days for Christmas trees, cell phones, and clothing and textiles. Other events include
            tree plantings and community night hikes to raise awareness of the local ecosystem.
        </p>
        <p>
            <b>Brandywine Realty Trust, Philadelphia, Pennsylvania:</b> Brandywine Realty Trust establishes sustainable practices
            within its own offices, and builds and manages environmentally responsible buildings and workplaces. Last year,
            40% of its total electricity was procured from wind, 87% of its cleaning products were “green,” and MTCO2 emissions
            were reduced by 15%. Brandywine promotes alternative transportation options. This includes bike racks, showers,
            and lockers for cyclists; preferential parking and charging stations for alternative fuel vehicles; carpools
            and vanpools; and a subsidized shuttle system for tenants.
        </p>
        <p>
            <b>Bristol-Myers Squibb, Princeton, New Jersey:</b> Bristol-Myers Squibb offers employees many alternative transportation
            options and supports teleworking. An on-site point of contact informs employees about commute options thought
            the company intranet, emails, and other employee communications. The company provides designated bicycle parking
            areas, preferential parking for carpoolers or vanpoolers, and also provides a shuttle and bicycles for employee
            use. Bristol-Myers Squibb offers informal flextime and telecommuting programs, and formal compressed work week
            and teleconference policies. On-site amenities include dining options, a dry cleaner, a bank, showers for cyclists,
            and other sundries.
        </p>
        <p>“Businesses, nonprofits, local governments, and individuals all play important roles in reducing air pollution by
            cutting waste, conserving energy, and making wise transportation choices,” said Barry Seymour, DVRPC Executive
            Director. “Cooperation between people and organizations that care about the air we breathe presents our greatest
            opportunity to ensure cleaner air for our region.”
        </p>
    </article>
    <article>
        <b>4/30/2018</b>
        <h3>Ozone Season Starts May 1, 2018</h3>
        <h4>You can help reduce air pollution!</h4>

        <p>As warmer weather approaches, so does ground-level ozone pollution. In the summer, sunlight and high temperatures
            “bake” pollutants from vehicles, power plants, and other sources, to form smog. It poses health risks for everyone,
            and can make breathing more difficult for children, older adults, and people with asthma.
        </p>
        <p>Air Quality Awareness Week (April 30 to May 4) marks the start of the ozone season, which runs through September.
            Greater Philadelphia does not meet the federal air quality standards for ground-level ozone. The Air Quality
            Partnership monitors ozone levels, provides air quality forecasts, and offers tips you can take to reduce air
            pollution.
        </p>
        <p>To reduce air pollution:
        </p>
        <ul>
            <li>Take transit or carpool.</li>
            <li>Don’t top off your gas tank. Spillage adds two tons of pollution to the air each day.</li>
            <li>Refuel at the end of the day. Ozone levels are highest in the afternoon.</li>
            <li>Clean out your trunk. An extra 100 pounds reduces gas mileage by 2% and wastes fuel.</li>
            <li>Combine errands. Combine other trips with your daily commute to save time, money, and the environment.</li>
            <li>Maintain your car. A properly running vehicle emits less pollution and saves gas. You can improve gas mileage
                by 3% by properly inflating your tires. Improve gas mileage by 1-2% by getting a regular oil change.</li>
        </ul>
        <p>To see the daily air quality forecast, tips, and sign up for alerts, visit www.airqualitypartnership.org. You can
            also get the forecast by calling 1-800-872-7261.
        </p>
        <h4>Educational Tools Are Available</h4>
        <p>The Air Quality Partnership has developed an interactive workbook to educate children about air quality and its impacts
            on their health. Geared toward 3rd to 5th grade students, the book includes activities such as identifying sources
            of air pollution, solving basic math problems, and observing and recording air quality conditions using the daily
            air quality forecast. The workbook and teacher’s guide are available at www.airqualitypartnership.org. Contact
            Sean Greene at 215-238-2860 or sgreene@dvrpc.org to receive printed copies of the workbook.
        </p>
    </article>
    <article>
        <b>5/4/2017</b>
        <h3>
            Five Organizations Receive Awards for Taking Big Steps to Improve Air Quality</h3>
        <h4>
            Awards were presented to The College of New Jersey, Pottstown School District, South Jersey Port Corporation, Suburban Transportation
            Network, and the University of Pennsylvania</h4>
        <p>
            (Philadelphia, PA) &ndash; As warmer weather approaches, so does the onset of ground-level ozone. High levels of ozone pose
            health risks for everyone, and large segments of the population are considered especially sensitive to air pollution.
            Fortunately, ozone levels are being monitored and the public can be alerted when levels become unhealthy. The
            Air Quality Partnership (AQP), a program of the Delaware Valley Regional Planning Commission, educates residents
            about the dangerous effects of ground-level ozone and provides air quality forecasts to the public.</p>
        <p>
            To celebrate local initiatives and best practices to reduce air pollution, five organizations in the Greater Philadelphia
            region received 2017 Air Quality Partnership Excellence Awards. Each year, public and private institutions are
            honored for their efforts to improve air quality. They are:</p>
        <p>
            <strong>The College of New Jersey (TCNJ), Ewing, New Jersey:</strong> TCNJ has developed a comprehensive transportation
            plan to reduce emissions associated with commuting and transportation. Activities include promoting alternative
            means of getting to and from campus, developing a rideshare phone app, installing electric car charging stations,
            mapping links to regional bicycle and pedestrian trails, providing bicycle facilities, and implementing distance
            learning and telecommuting options.&nbsp;A bike rental program will begin next semester.</p>
        <p>
            <strong>South Jersey Port Corporation (SJPC), Camden, New Jersey:</strong> SJPC has been closely working with the NJ
            Department of Environmental Protection (DEP) to replace older diesel equipment, such as cranes, cargo handling
            equipment, and forklifts, to reduce emissions from port activities. SJPC is also an active participant in the
            Camden Collaborative Initiative, an organization whose goal is to improve the environmental conditions in Camden.</p>
        <p>
            <strong>Pottstown School District, Pottstown, Pennsylvania:</strong> The Pottstown School District initiated a &ldquo;walking
            school bus&rdquo; for students at Rupert Elementary. The walking school bus addresses safety by providing 35
            trained volunteers to walk groups of students to the school along three approved routes. This project not only
            improves air quality by reducing emissions, but encourages exercise and walking as an alternative to driving.
            In 2016, the program&rsquo;s second year, more than 50 students signed up for the walking school bus, and they&rsquo;ve
            totaled almost 500 miles.</p>
        <p>
            <strong>Suburban Transportation Network (TransNet), Blue Bell, Pennsylvania:</strong> TransNet reduces emissions from
            single occupancy vehicles while providing mobility alternatives for local residents through an array of ride
            options. They include Senior Shared Ride; Upper Merion Rambler; Persons with Disabilities and Medical Assistance
            Transportation Programs; and last-mile and convenience shuttles for St. Joseph&rsquo;s University, Montgomery
            County Community College East and West Campuses, and many other employers and corporate centers.</p>
        <p>
            <strong>The University of Pennsylvania (Penn), Philadelphia, Pennsylvania: </strong>Penn reduces emissions from transportation
            sources through a comprehensive program that includes commuter transit benefits, parking management strategies,
            electric vehicle charging stations, bicycle facilities, alternative fueled fleet vehicles, and last-mile shuttles
            and van pools, among other sustainability measures. Penn utilizes a suite of strategies that serves as a best
            practice for other organizations.</p>
        <p>
            DVRPC and the Air Quality Partnership congratulate these organizations for their outstanding leadership in improving air
            quality. Air Quality Awareness Week runs from May 1 to May 5 and it marks the start the AQP&rsquo;s ozone season,
            which runs through September. As ozone season approaches, clean air programming like these awardees becomes even
            more critical for our region&rsquo;s health and wellbeing.</p>
        <p>
            &ldquo;Businesses, nonprofits, local governments, and individuals all play important roles in reducing air pollution by cutting
            waste, conserving energy, and making wise transportation choices,&rdquo; said DVRPC&rsquo;s Executive Director,
            Barry Seymour. &ldquo;Cooperation between people and organizations that care about the air we breathe presents
            our greatest opportunity to ensure cleaner air for our region.&rdquo;</p>
        <figure>
            <div class="gallery">
                <div class="gallery-item">
                    <img src="/img/IMG_1697.jpg" alt="Pottstown School District" />
                </div>
                <div class="gallery-item">
                    <img src="/img/IMG_1694.jpg" alt="Pottstown School District" />
                </div>
            </div>
            <figcaption>Pottstown School District is recognized for its walking school bus.</figcaption>
        </figure>
        <figure>
            <div class="gallery">
                <div class="gallery-item">
                    <img src="/img/IMG_1698.jpg" alt="Transnet" />
                </div>
                <div class="gallery-item">
                    <img src="/img/IMG_1699.jpg" alt="Transnet" />
                </div>
            </div>
            <figcaption>The Air Quality Partnership honored TransNet for offering mobility alternatives to local residents. </figcaption>
        </figure>
    </article>
    <article>
        <b>5/3/2017</b>
        <h3>Ozone Season Begins</h3>
        <h4>Air Quality Awareness Week is May 1-5, 2017</h4>
        <p>(Philadelphia, PA) – As warmer weather approaches, so does the onset of ground-level ozone. High levels of ozone
            pose health risks for everyone, and large segments of the population are considered especially sensitive to air
            pollution. Fortunately, ozone levels are being monitored and the public can be alerted when levels become unhealthy.
            The Air Quality Partnership (AQP), a program of the Delaware Valley Regional Planning Commission, educates residents
            about the dangerous effects of ground-level ozone and provides air quality forecasts to the public. Air Quality
            Awareness Week runs from May 1 to May 5 and it marks the start of the ozone season, which runs through September.
            Currently, Greater Philadelphia does not meet the federal air quality standards for ground-level ozone. In the
            summer, sunlight and high temperatures “bake” pollutants emitted by motor vehicles, power plants, and other sources,
            to form high levels of ground-level ozone, commonly known as smog.
        </p>
        <p>To sign up for air quality alerts, visit our new mobile-friendly website: www.airqualitypartnership.org. Daily air
            quality forecasts and helpful tips are also available on the website or by calling 1-800-872-7261. The AQP encourages
            actions to reduce air pollution, such as:</p>
        <ul>
            <li>Take transit or rideshare.</li>
            <li>Don’t top off your gas tank. Spillage adds two tons of pollution to the air each day.</li>
            <li>Refuel at the end of the day. Ozone levels are highest in mid- to late-afternoon.</li>
            <li>Be sure to clean out your trunk, since an extra 100 pounds reduces gas mileage by up to 2% and wastes fuel.</li>
            <li>Trip-link when possible. Combining errands with your daily commute will save time, money, and the environment.</li>
            <li>Follow regular maintenance schedules for your car. A properly running vehicle emits less pollution and saves
                gas.
            </li>
            <li>Check your owner’s manual and properly inflate your tires. Properly inflated tires can improve your gas mileage
                up to 3.3%.</li>
            <li>When changing your oil, use a manufacturer-recommended grade motor oil to improve fuel economy by 1-2%.</li>
        </ul>

        <p>“Businesses, nonprofits, local governments, and individuals all play important roles in reducing air pollution by
            cutting waste, conserving energy, and making wise transportation choices,” said DVRPC’s Executive Director, Barry
            Seymour. “Cooperation between people and organizations that care about the air we breathe presents our greatest
            opportunity to ensure cleaner air for our region.”</p>
        <h4>Educational Tools Available</h4>
        <p>The AQP has developed an interactive workbook, geared toward students in third through fifth grades, to assist local
            organizations and teachers in educating children about air quality and its impacts on their health. It includes
            activities such as identifying sources of air pollution, solving basic math problems, and observing and recording
            air quality conditions using the daily air quality forecast. AQP collaborated with a steering committee consisting
            of educators, health, and air quality professionals to ensure the workbook met Pennsylvania state educational
            standards for Environment and Ecology and Health, Safety, and Physical Education. The workbook and teacher’s
            guide, which are printable and compatible with SMART boards, are available online at www.airqualitypartnership.org.
            Contact Sean Greene at 215- 238-2860 or sgreene@dvrpc.org to receive printed copies of the workbook.
        </p>
    </article>

    <article>
        <b>05/17/2016</b>
        <h3>Local Organizations Honored with Air Quality Partnership Excellence Awards</h3>
        <p>Each year, the Air Quality Partnership (AQP) recognizes private and public institutions that have made exceptional
            efforts to improve air quality in Greater Philadelphia. The recipients of the 2016 AQP Excellence Awards are
            Johnson Matthey (JM) in Devon, PA, and West Chester University (WCU) in West Chester, PA.
        </p>

        <h4>Johnson Matthey Inc.</h4>
        <p>JM is a world leader in emission control catalysts, or catalytic converters, for automobiles, trucks, off-road vehicles,
            locomotives, and stationary source pollutant emitters. These catalysts help destroy harmful pollutants and minimize
            the emission of greenhouse gases like methane and nitrous oxide. JM's catalysts improve air quality not just
            in the Delaware Valley but across the U.S. and the world. In 2007, JM launched "Sustainability 2017," a global
            campaign with ambitious targets of halving the company's carbon intensity, halving resources consumed per unit
            of output, and achieving zero waste to landfill. JM has also helped raise public awareness about air quality
            through its advocacy for tougher emissions legislation and its sponsorship of local cycling events and running
            teams.
        </p>

        <figure>
            <img src="/img/jm.jpg" alt="Timothy Phelps, Erin Burke, and Robert Stajnrajh Kaizen" />
            <figcaption>Timothy Phelps (Executive Director, TMA of Chester County) and Erin Burke (AQP) present the 2016 AQP award for
                a private organization to Robert Stajnrajh Kaizen (Johnson Matthey Inc.)</figcaption>
        </figure>

        <h4>West Chester University</h4>
        <p>WCU invested in cutting emissions and pollution by expanding the campus's geothermal distribution system and adding
            to its fleet of vehicles powered by compressed natural gas (CNG). The geothermal heating and cooling system services
            more than 40% of WCU's North Campus building space and replaced a coal-fired boiler plant. The University's fleet
            of CNG powered vehicles is now at 28 and more are on order. In addition to these improvements, WCU has empowered
            its community to use greener modes transportation by promoting carsharing and running a free shuttle from campus
            to the Exton Regional Rail station.
        </p>
        <p>DVRPC and the Air Quality Partnership congratulate JM and WCU for their outstanding leadership in improving air quality.
            As ozone season approaches, clean air programming like that at JM and WCU becomes even more critical for our
            region's health and wellbeing. Visit www.airqualitypartnership.org to learn more.
        </p>

        <figure>
            <img src="/img/wcu.jpg" alt="Timothy Phelps, Lawrence Krackov, and Mark Mixner" />
            <figcaption>Timothy Phelps (Executive Director, TMA of Chester County) presents the 2016 AQP award for a public organization
                to Lawrence Krackov and Mark Mixner (West Chester University)</figcaption>
        </figure>

    </article>
</div>