<div class="card" lang="es">
  <h2>LOS RECURSOS</h2>

  <p>AQP publica materiales para la communidad y membros de el publico. Por favor descarga y compartelos.</p>

  <ul class="list-group">
    <li class="list-group-item">
      <a target="_blank" href="/pdf/air-quality-activity-guide-schools-SPA.pdf"
        >Guía para las escuelas sobre la calidad del aire y las actividades al
        aire libre</a
      >
      <span class="sm">[0.2 MB pdf]</span>
    </li>
    <li class="list-group-item">
      <a target="_blank" href="/pdf/Children.pdf"
        >Niños y la calidad del aire</a
      >
      <span class="sm">[2.7 MB pdf]</span>
    </li>
    <li class="list-group-item">
      <a target="_blank" href="/pdf/OlderAdults.pdf"
        >Adultos mayores y calidad del aire</a
      >
      <span class="sm">[4.5 MB pdf]</span>
    </li>
    <li class="list-group-item">
      <a target="_blank" href="/pdf/cocos-orange-day_sp.pdf"
        >EPA - ¿Por qué Coco es de color naranja?</a
      >
      <span class="sm">[1.4 MB pdf]</span>
    </li>
  </ul>
</div>
