<div class="card">
  <h2 style="letter-spacing:0.05em">Show us your #GreenCommute</h2>
  <p>
    <strong>
      Use #GreenCommute on social media to be entered into the giveaway.
    </strong>
    <br />
    <em>
      Four photo submissions will be entered into a random drawing for one of
      four $50 Dunkin Donuts gift cards.
    </em>
  </p>
  <p>
    Take a photo showing us your green commute (ie. walking, bicycling, taking
    transit, carpooling) and you could win one of four $50 Dunkin Donuts gift
    cards. Upload your photo to Twitter, Instagram, or Facebook using the
    hashtag #GreenCommute to enter.
  </p>
  <p>
    Anyone who takes a photo in the DVRPC region is eligible to participate. The
    counties in the region include Philadelphia, Bucks, Montgomery, Delaware,
    and Chester counties in Pennsylvania; and Burlington, Camden, Gloucester,
    and Mercer counties in New Jersey. Employees of DVRPC, Board Members
    (appointed and alternate), and their families, are not eligible to win one
    of the gift cards.
  </p>
  <p>
    Entries will be accepted from May 1, 2019 through 11:59 PM EST on June 20,
    2019.
  </p>
  <h3>Prizes</h3>
  <ul>
    <li>Four (4) gift cards for Dunkin Donuts, valued at $50 each</li>
  </ul>
  <p>
    Four contest participants will be awarded one gift card each. The winners
    will be randomly selected from all entrants, and will be notified by June
    21, 2019. The winners’ names will be posted on the Air Quality Partnership
    webpage at
    <a href="/GreenCommute/">
      www.airqualitypartnership.org/GreenCommute
    </a>
  </p>
  <h3>Use and Waivers</h3>

  <p>
    By entering, you agree to release the rights of your photograph(s) to DVRPC
    for marketing, advertising, and communications purposes. You will receive
    credit as the photographer in all instances.
  </p>
  <p>
    If photos depict recognizable individuals, the photographer must have
    permission from the person depicted in the photograph. They must also be
    able to submit a waiver granting permission upon request. If photos depict
    recognizable individuals under 18 years of age, the photographer must be the
    child’s legal guardian or have permission from a parent/legal guardian of
    each child depicted in the photo to submit the entry into the contest.
    Further, the photographer must also be able to submit a waiver upon request
    with the parent/legal guardian’s signature.
  </p>
  <p>
    Submissions must be the sole creation of the photographer. Each entry may
    not have won previous awards, may not have been published previously, and
    must not be awaiting publication or consideration in another contest.
    Additionally, the photo must be suitable for all ages, not obscene or
    indecent. DVRPC retains the right to dismiss any photos.
  </p>
  <h3>Sponsor of the Giveaway</h3>

  <p>
    Delaware Valley Regional Planning Commission
    <br />
    Air Quality Partnership Program
    <br />
    190 North Independence Mall West, 8th Floor
    <br />
    Philadelphia, PA 19106
  </p>
  <p>
    Contact: Elise Turner, DVRPC Communications Manager, 215-238-2941,
    <a href="mailto:eturner@dvrpc.org">eturner@dvrpc.org</a>
  </p>
</div>
